body {
    display: compact;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: white url('https://source.unsplash.com/1600x900/?landscape');
    font-size: 120%;
}

.card {
    background: #000000d0;
    color: white;
    padding: 2em;
    border-radius: 30px;
    width: 100%;
    max-width: 420px;
    margin: 1em;
}

h1.temp {
    margin: 0 0 0.4em;
}

h2.city {
    margin-top: 0.8em;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    margin: 0.5em;
    border-radius: 50%;
    border: none;
    height: 44px;
    width: 44px;
    outline: none;
    background: #484646;
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

button:hover {
    background: #656363;
}

input.search-bar {
    border: none;
    outline: none;
    padding: 0.4em 1em;
    border-radius: 24px;
    background: #484646;
    color:white;
    font-family: inherit;
    font-size: 105%;
    width: calc(100% - 80px);
}

.description {
    text-transform: capitalize;
    margin-left: 8px;
}


.flex {
    display: flex;
    align-items: center;
}

.weather.loading {
    visibility: hidden;
}
