{% extends "layout.html" %}

{% block main_content %}

<div class="album py-5">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

        <div class="col">
          <div class="card shadow-sm">
            <a href="/quiz/topics"><img src="../static/pics/quiz_app.png" class="card-img-top" alt="..." width="100%" height="100%"></a>
              <div class="card-body">
              <p class="card-text">This app will help you learn and memorize brand and generic names, indications used in Pharmaceutical industry.</p>

              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="/quiz/topics"><button type="button" class="btn btn-sm btn-outline-secondary">View</button></a>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <a href="/microblog"><img src="../static/pics/micro_blog.png" class="card-img-top" alt="..." width="100%" height="100%" ></a>
            <div class="card-body">
              <p class="card-text">Let's chat! Please note: everything in this section will be saved to my personal database, don't post your debit card PIN :)</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>

          <div class="col">
          <div class="card shadow-sm">
            <a href="/quicksort"><img src="../static/pics/quick_sort.png" class="card-img-top" alt="..." width="100%" height="100%" ></a>
            <div class="card-body">
              <p class="card-text">Visualising data structures and algorithms through animation. Quicksort is a divide-and-conquer algorithm. Worst time O(n<sup>2</sup>), best O(n lg n).</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>

          <div class="col">
          <div class="card shadow-sm">
            <a href="/slidingpuzzle"><img src="../static/pics/sliding_puzzle.png" class="card-img-top" alt="..." width="100%" height="100%" ></a>
            <div class="card-body">
              <p class="card-text">Try if you can solve this 4x4 sliding puzzle! </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}