{% extends "layout.html" %}

{% block main_content %}
    <script src="../static/js/quiz_app.js"></script>
    <script>
    document.title = "Victor's Quiz App"
    </script>
    <body onload="showQuestion(0, {{ category }}, {{ answer_set }})">

<div class="container px-4 py-5" id="featured-3">

        <div>
            <h5 id="questionNumber"> </h5>
            <div class="col-sm-6">

            <div id="questionList">
            </div>

            </div>
            <br>
            <button class="btn btn-primary" onclick="showQuestion(--currPos, {{ category }}, {{ answer_set }})">
                Prev
            </button>

            <button class="btn btn-primary" onclick="showQuestion(++currPos, {{ category }}, {{ answer_set }})">
                Next
            </button>


            <button class="btn btn-success" onclick="checkAnswer(currPos, {{ answer_set }})">
                Check answer
            </button>

            <button class="btn btn-warning" id="answerStatus" onclick="showAnswer(currPos, {{ answer_set }})">
                Show Answer
            </button>
            <div id="result"></div>
        </div>

</div>
    </body>
{% endblock %}
